# Dependencies
node_modules/
**/node_modules/

# Local databases & configurations
*.sqlite
*.db
.env
**/.env
backend/database.sqlite

# Build directories
dist/
**/dist/

# OS Metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
